mriya.spring/src/main/resources/META-INF/mriya.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://github.com/xiaofengzhouxf/mriya"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://github.com/xiaofengzhouxf/mriya"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:element name="server">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="workSize" type="xsd:string" />
					<xsd:attribute name="port" type="xsd:int" />
					<xsd:attribute name="groupId" type="xsd:string" />
					<xsd:attribute name="service" type="xsd:string" />
					<xsd:attribute name="serviceInterface" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="client">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="connTimeout" type="xsd:int" />
					<xsd:attribute name="readTimeout" type="xsd:int" />
					<xsd:attribute name="api" type="xsd:string" />
					<xsd:attribute name="url" type="xsd:string" />
					<xsd:attribute name="groupId" type="xsd:string" />
					<xsd:attribute name="name" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>